<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>Test formulaire</title>
    </head>
    <body>
        <form action="{% url 'inscription:inscription_form' %}" method="post">
            {% csrf_token %}
            {{ form }}
            Date naissance: 
            <input type="date" id="date_naissance" name="date_naissance" required="">
            Date certificat: 
            <input type="date" id="date_certificat" name="date_certificat" required="">
            <input type="submit" value="Submit">
        </form>
        {{erreur_mail}}
        {{erreur_tel}}
        {{erreur_cp}}
        {{reussi}}
        <br/>
    </body>
</html>